*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
*::-webkit-scrollbar
{
    display: none;
}
/*../html/index.html styles*/ 
body
{
    background-color: rgb(2, 36, 36);
}
div.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #43413ec8;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 20vh;
}
div.header a
{
    text-decoration: none;
    color: #dae3e5;
    font-size: 42px;
    font-weight: 400;
    text-transform: lowercase;
    font-family: 'Alata', sans-serif;
    transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
div.header a:hover
{
    transform: scale(1.14);
}
div.header a span.gradient
{
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    background: -webkit-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    background: -moz-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    background: -o-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
/*../html/index.html styles - for chevron animation*/
span.ac-ln-menucta-chevron
{
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(1.14);
}
span.ac-ln-menucta-chevron::before, span.ac-ln-menucta-chevron::after 
{
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    background: #dae3e5;
}
span.ac-ln-menucta-chevron::before 
{
    transform-origin: 100% 100%;
    transform: rotate(40deg) scaleY(1.1);
    right: 50%;
    border-radius: 0.5px 0 0 0.5px;
}
span.ac-ln-menucta-chevron::after 
{
    transform-origin: 0% 100%;
    transform: rotate(-40deg) scaleY(1.1);
    left: 50%;
    border-radius: 0 0.5px 0.5px 0;
}
span.ac-ln-menucta-chevron.open::before  
{
    transform-origin: 100% 0%;
    transform: rotate(-40deg) scaleY(1.1);
}
span.ac-ln-menucta-chevron.open::after 
{
    transform-origin: 0% 0%;
    transform: rotate(40deg) scaleY(1.1);
}
/*More ../html/index.html styles*/
div.header ul.menu
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    top: 16vh;
    left: 75%;
    background-color: #1f1d1db6;
    backdrop-filter: blur(15px);
    border: 3px solid #c6ffdd;
    border-radius: 50px;
    width: 150px;
    height: 275px;
}
div.header ul.menu li
{
    list-style: none;
}
div.header ul.menu li a
{
    text-decoration: none;
    color: #dae3e5;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
div.header ul.menu li a:hover
{
    padding: 14px;
    background-color: #c6ffdd;
    border-radius: 50px;
}